<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация нового пользователя</h2>

<div th:if="${message}" style="color: red;">
    <p th:text="${message}"></p>
</div>

<form th:action="@{/registration}" method="post">
    <div>
        <label> Логин: <input type="text" name="username" required/> </label>
    </div>
    <div>
        <label> Пароль: <input type="password" name="password" required/> </label>
    </div>
    <div>
        <label> Имя: <input type="text" name="firstName"/> </label>
    </div>
    <div>
        <label> Фамилия: <input type="text" name="lastName"/> </label>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>
<br>
<a th:href="@{/login}">Уже есть аккаунт? Войти</a>
</body>
</html>